{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>The emblem of the year</title>
    <style type="text/css">
        /* Start https://www.cursors-4u.com */ * {
            cursor: url(https://cur.cursors-4u.net/toons/too-5/too419.cur), auto !important;
            font-family: 'Liberation Sans', 'Helvetica';
        }
        /* End https://www.cursors-4u.com */
    </style>
</head>
<body style="background-color: goldenrod">
    <table align="center">
    <tr align="center"><td><font size="6"><b>Do you want to check out the emblem of the year? ~Here it is!~</b></font>
    <tr align="center"><td><img src="{% static 'img/makesweet.gif' %}">
    <tr align="center"><td><h2>You're welcome! :)</h2>
    </table>
</body>
</html>