<!DOCTYPE html>

<html>
<head>
    <title>The 5 Most Important Moments in Football History</title>
    <style type="text/css">
        /* Start https://www.cursors-4u.com */ * {
            cursor: url(https://cur.cursors-4u.net/toons/too-5/too419.cur), auto !important;
            font-family: 'Liberation Sans', 'Helvetica';
        }
        /* End https://www.cursors-4u.com */
    </style>
</head>

<body style="background-color: goldenrod">
    <h3>The 5 Most Important Moments in Football History</h3>
    <b><i>Football is more than just a game. Over the last 150 years it has become a source of identity, conflict and debate for all who follow and play it. It has reached the furthest corners of the globe and boasts more players and supporters than any other sport.&nbsp;In this list we will be going right the way through the illustrious, colourful and often tragic history of football and finding out once and for all what the most important moments are in this truly beautiful game.</i></b>
    <br />
    <br />
    <br />
    <b><span style="font-family: inherit; font-size: large;">1. Sheffield FC &amp; the Question of Rules (1857)</span></b><br />
    <br />
    It is the 'Sheffield rules' which distinguish <br />
    this form of football to that set up 6 years later. The list of eleven laws are at times similar and at others far-removed from the game we watch today. In fact, when reading the rules it is almost reminiscent of rugby - it involved catching and passing the ball with the hands. However, the inclusion of only scoring via the foot and the removal of 'hacking' lends itself to a sport more at home with the Football Association's later vision.<br />
    <br />
    Rules created the greatest debate amongst players in sport's infancy. In 1848 the Cambridge Rules were drawn up by members of the university in order to clear up any confusion. However, Sheffield FC's importance is more widely recognised. The influence of Sheffield FC in the creation of the modern game cannot be understated. Indeed, Sheffield managed to create a genuine football culture in the wider local area and show how football could provide an identity to more than just the players on the pitch.<br />
    <br />
    <br />
    <b><span style="font-family: inherit; font-size: large;">2. The Formation of the Football Association (1863)</span></b><br />
    <br />
    Of course, we couldn't make a list of the most important moments in football history without explaining how the world's most popular sport was created in the first place. When we say created, it would perhaps be wiser to say 'codified'. By 1863, football had become the sport of public schoolboys and university students around the country. For those playing however, the inconsistency in rules played at different institutions meant something had to be done.<br />
    <br />
    On the 26th October 1863 - the Football Association was born. 11 clubs and schools met at the Freemasons Tavern, London to discuss which rules would stay and which would go. Following the acceptance of the codes of the game, the first match played under these rules took place in December that year between Barnes and Richmond. The final score....0-0...typical!<br />
    <br />
    The rules would continue to split and divide some of the original teams leading to the establishment of a Rugby Football Union 8 years later. The Football Association has since gone on to become one of the most celebrated institutions in British History and its influence is still seen today as the game it created is played in all corners of the world.<br />
    <br />
    <br />
    <span style="font-family: inherit; font-size: large;"><b>3. The First FA Cup (1871-2)</b></span><br />
    <br />
    The FA Cup is huge. Modern day football fans are probably unaware of its importance as more and more tournaments are introduced to us through TV and social media. In 1871, football was still very much in its infancy - an amateur sport played by gentlemen and public school alumni. In its relatively short life it had already grown to include numerous teams and spectators. Prior to the FA Cup, the Youdan Cup played under Sheffield Rules can claim the title of the oldest tournament in football.<br />
    <br />
    Following the success of the Youdan Cup - Secretary of the FA Charles Alcock launched his own competition. With no official league, a cup was the only way in which it could be decided who the best team in the association game was. With the Rugby Football Union forming around the same time perhaps a tournament on the scale of the FA Cup was need to promote the game. Taylor is quick to argue that we should not overestimate the initial success of the FA Cup - indeed only 15 clubs entered the competition.<br />
    <br />
    It would take 10 years for the FA Cup to truly represent the whole nation but once it did it would continue to grow to this day. Now, we see over 700 entrants each season from the Premier League to the lowest levels on the football pyramid. Through the FA Cup, football had begun to become the national sport, seriously rivaling cricket.&nbsp;Without it, it is hard to see the subsequent development of the Football League and the general spread of the beautiful game to all corners of the globe.<br />
    <br />
    <span style="font-family: inherit;"><br /></span>
    <b><span style="font-family: inherit; font-size: large;">4. The First International - England v Scotland (1872)</span></b><br />
    <br />
    <b><span style="font-family: helvetica,arial,sans-serif; font-size: large;"></span></b>
    England has many international rivalries - but the one it shares with Scotland is perhaps stronger than any other. Going back centuries the two nations have been at war, shared monarchs and disagreed on key issues - even today. By 1872 however, the rivalry could take to a new battlefield - a football pitch. The leading Scottish side Queen's Park agreed with FA to take on a selection of its finest players. In front of 5000 spectators in Glasgow, the two sides drew 0-0.<br />
    Football was proving to be a true spectator sport -&nbsp;Richard Holt, notes that even in the early days of the national rivalry, 'in rugby the atmosphere was friendly, in football it was fanatical'. What this match had proved was that football was growing into an international game and soon more and more nations would take it to their hearts. Football had become a leading player in the Victorian sporting revolution and easily its most popular.
    <br />
    <br />
    Wales and Ireland followed these two into international football by 1882 and the sport was now more than just a game - it would eventually become a source of national identity where supporters would rest their hopes and follow to the end. Success would obviously help and with England and Scotland this came more naturally. Today, this influence is seen with the question of Olympic GB teams and the worry of some with regards to their nation's sporting identity. For me, the original footballing nations have nothing to worry about.
    <span style="font-family: inherit;"><br /></span>
    <br />
    <br />
    <span style="font-family: inherit; font-size: large;"><b>5. The 'Disease' of Professionalism (1883)</b></span><br />
    <br />
    Speaking of Olympics - it is with 'Blackburn Olympic' where this piece begins. By 1883 the FA Cup had spread its reach across the nation and football had grown more and more by the year. Blackburn Olympic had entered the competition that season playing the 'combination' game - a style of play more used to passing and build-up play compared to the more common 'kick and rush' tactics. What was perhaps more amazing at the time was the fact this team was made up of working-class players.<br />
    <br />
    Football for decades was a game for gentlemen - like cricket or rugby. But a mere 20 years after the establishment of the FA it had won the hearts and minds of working men in the North of England. Winning 2-1 at the Kennington Oval against holders Old Etonians it was a victory for class as much as it was for football. Although seeming like a fairytale victory today - in the 1880s it was treated much more questionably.<br />
    <br />
    <br />
    Professionalism. In the modern day it seems as though football has always been professional - but in 1883 it was the source of fierce debate among teams and players across the nation. Holt writes that the FA had never envisioned a professional game - thinking the sport would only be played for pleasure and never for cash. However, the growth of the middle-classes and the opportunity for gate receipts led to money being introduced more and more to the game.<br />
    <br />
    For many, it was a threat to morality and the commercialization of the game would mean winning was now more important than taking part. Broken time payments to players was the final act in this and eventually the amateur game would be frozen out. In 1885 the motion to include professionalism was adopted and 3 years later the Football League was formed. What is important to see is that money and football being a business is nothing new - indeed it has provoked debate for over 120 years!<br />
    <br />
</body>
</html>